body {
    
}

conteiner {
    position: absolute;
    background-color: darkslateblue;
    margin: 0 auto;
    border: 2px solid #222;
}

conteinerElements {
    position: absolute;
    left: 0;
    top: 0;
}