h2{
text-align: center;
}
.tables{
background-color: #4286f4;
color: white;
border: 20px solid #000000;
height: 150px;
width: 75%;
margin: 0 auto;
}
.tablez{
display: flex;
    text-align: center
       
}
td{
    transition: all 1s ease-in-out;
}
td:hover{
background-color: greenyellow;
    border-color: greenyellow; 
}
